<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>
    {% block header %}
Game List
    {% endblock header %}
</h1>
Welcome {{user.gameCollection}}
<p><a href="{% url 'logout' %}">Logout</a></p>
<p><a href="{% url 'login' %}">Login</a>
{% if gamelist %}
{% else %}
</p>
<p><a href="{% url 'newUser' %}">New User?</a></p>
<p><a href="newGame">New Game</a></p>
<p><a href="edit">Edit</a></p>
<p><a href="delete">Delete</a></p>
{% endif %}
{% block content %}
Test Bloop!
{% endblock content %}
</body>
</html>