<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gameApp/style.css' %}">
</head>
<body>
<header>
<h1>
    {% block header %}
    {% if user.is_authenticated %}
    Welcome {{user.username}}
    {% else %}
    Welcome To GameListers!
    {% endif %}
    {% endblock header %}
</h1>
</header>
<div>
{% block content %}
{% if user.is_authenticated %}
<p><a href="{% url 'logout' %}">Logout</a></p>
<p><a href="{% url 'newUser' %}">New User?</a></p>


<p><a href="newGame">New Game</a></p>
{% if gameList %}
<table border="2">
    <tr>
        <th>Game</th>
        <th>Edit info</th>
        <th>Delete Game</th>
    </tr>
    {% for game in gameList %}
    <tr>
        <td><a href="">{{ game }}</a></td>
        <td><a href="{% url 'edit' game.id %}">Edit</a></td>
        <td><a href="{% url 'delete' game.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>No games! Why not make one?</h3>
{% endif %}
{% else %}
<p><a href="{% url 'login' %}">Login</a>
<p><a href="{% url 'newUser' %}">New User?</a></p>
{% endif%}

{% endblock content %}
</div>
</body>
</html>